@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll-editor .cm-scroller {
  overflow-x: hidden !important;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}